.DS_Store
.idea/*
.python-version
.vscode/*

/docs/site/*
.mypy_cache

.venv
/poetry.toml

# Cloudflare Wrangler configuration
wrangler.local.toml
wrangler.staging.toml
.wrangler/

# Other common files to ignore
node_modules/
*.pyc

.ruff_cache

.vscode

.env
